@import "../base";

.row {
  @include flexbox(row, null, null, null);
  box-sizing: border-box;
  height: 80px;

  .avatar {
    @include flexbox(null, center, center, null);
    @include flexitem(1, null);
    background: red;
    width: 80px;

    span {
      width: 40px;
      height: 40px;
      font-size: 32px;
    }
  }

  .desc {
    @include flexbox(column, null, null, null);
    @include flexitem(2, null);
    background: yellow;
    font-size: 26px;
    width: 160px;

    .title {
      @include flexbox(null, flex-start, null, null);
    }

    .info {
      @include flexbox(null, flex-end, null, null);
    }

    .address {
      @include flexbox(null, flex-start, null, null);
      position: relative;
      top: -10px;
    }
  }

  .note {
    @include flexbox(column, null, null, null);
    @include flexitem(3, null);
    background: blue;
    font-size: 12px;
    width: 80px;

    .price {
      @include flexbox(null, flex-end, null, null);
    }

    .icon {
      @include flexbox(null, center, null, null);
      font-size: 32px;
    }

    .state {
      @include flexbox(null, flex-start, null, null);
      padding-top: 15px;
    }
  }
}

.box {
  @include flexbox(row, null, null, null);
  box-sizing: border-box;
  font-size: 12px;
  width: 320px;
  height: 80px;

  p {
    display: inline-block;
    height: 10px;
    width: 10px;
  }

  .avatar {
    @include flexbox(null, center, center, nowrap);
    @include flexitem(1, 1);
    background: red;
    width: 40px;
  }

  .desc {
    @include flexbox(column, null, null, wrap);
    @include flexitem(2, 3);
    background: yellow;
    width: 40px;
  }

  .note {
    @include flexbox(column, null, null, nowrap);
    @include flexitem(3, 1);
    background: blue;
    width: 40px;
  }
}
