
/**
 * mixins
 */

@mixin flexbox($direction, $x, $y, $wrap) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $x {
    justify-content: $x;
  }

  @if $y {
    align-items: $y;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }
}

@mixin griditem($row-start, $row-end, $column-start, $column-end) {
  @if $row-start {
    grid-row-start: $row-start;
  }

  @if $row-end {
    grid-row-end: $row-end;
  }

  @if $column-start {
    grid-column-start: $column-start;
  }

  @if $column-end {
    grid-column-end: $column-end;
  }
}

@mixin wordblock {
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

@mixin wordline {
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}

/**
 * utils
 */

$base-font-size: 16px;

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@function rem($px) {
  @if parseInt($px) == 0 {
    @return 0;
  }

  @return (parseInt($px) / parseInt($base-font-size)) * 1rem;
}
